<div class="tasks-container">

  <!-- ================= ADD TASK ================= -->
  <div class="add-task">
    <div class="input-wrapper">
      <input
        type="text"
        [(ngModel)]="newTaskTitle"
        maxlength="100"
        placeholder="Enter task title..."
      />
      <span class="char-count">
        {{ newTaskTitle.length || 0 }}/100
      </span>
    </div>

    <button
      class="add-btn"
      (click)="addTask()"
      [disabled]="!newTaskTitle.trim()">
      + Add Task
    </button>
  </div>

  <!-- ================= LOADING ================= -->
  <div *ngIf="loading">Loading...</div>

  <!-- ================= FILTERS ================= -->
  <div class="filters">
    <button [class.active]="filter === 'all'" (click)="setFilter('all')">
      All
    </button>

    <button [class.active]="filter === 'completed'" (click)="setFilter('completed')">
      Completed
    </button>

    <button [class.active]="filter === 'pending'" (click)="setFilter('pending')">
      Pending
    </button>
  </div>

  <!-- ================= EMPTY ================= -->
  <div *ngIf="!loading && filteredTasks.length === 0">
    No tasks found.
  </div>

  <!-- ================= TASK LIST ================= -->
  <div *ngFor="let task of filteredTasks" class="task-card">

    <span *ngIf="editingTaskId !== task.id"
          [class.completed]="task.status === 'Completed'">
      {{ task.title }}
    </span>

    <input *ngIf="editingTaskId === task.id"
           [(ngModel)]="editTitle" />

    <div class="actions">

      <ng-container *ngIf="editingTaskId !== task.id">
        <button (click)="startEdit(task)">Edit</button>

        <button class="delete"
                (click)="deleteTask(task.id)">
          Delete
        </button>
      </ng-container>

      <ng-container *ngIf="editingTaskId === task.id">
        <button (click)="saveEdit(task)">Save</button>
        <button (click)="cancelEdit()">Cancel</button>
      </ng-container>

    </div>

  </div>

</div>

<!-- ================= PAGINATION ================= -->

<div class="pagination">
  <button (click)="prev()" [disabled]="currentPage === 1">
    Prev
  </button>

  <span>
    Page {{ currentPage }} of {{ totalPages }}
  </span>

  <button (click)="next()" [disabled]="currentPage === totalPages">
    Next
  </button>
</div>
